.item {
    padding: 5px 10px 5px 50px;
    font-family: monospace;
    color: #333;
}
.item .title {
    font-weight: bold;
}
.item a,
.item a:hover,
.item a:active,
.item a:visited {
    color: #333;
}

.item img {
    width: 50px;
    margin-left: -50px;
    float: left;
}