.item {
    padding: 5px 10px 5px 10px;
    font-family: monospace;
    color: #333;
}
.item .title {
    font-weight: bold;
}
.item a,
.item a:hover,
.item a:active,
.item a:visited {
    color: #333;
}

.item img {
    width: 50px;
    float: right;
    margin: 8px 60px 0 0;
}

.item header {
    font-weight: bold;
}

.percentage-char {
    font-family: Arial, Helvetica, sans-serif;
}