.item {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    width: 300px;
    background-color: #eee;
    border: solid 1px grey;
    box-shadow: 0px 0px 3px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    border-radius: 4px;
}

.item * {
    display: inline-block;
}

.item .title {
    margin-right: 80px;
    word-break: break-all;
}

.item a.download {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    background-color: mediumseagreen;
    color: white;
    border: solid 1px black;
    text-align: center;
}

.item a.download:hover {
    background-color: seagreen;
}

.item .stats {
    display: inline-block;
}