body {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}
h1 {
    text-align: center;
}

#main {
    display: grid;
    margin-top: 15px;
    
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-areas: "card1" "card2" "wide1" "card3" "tall1" "tall1" "card5"; */
    grid-auto-rows: 250px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    overflow: hidden;
}

@media (min-width: 768px) {
    #main { 
        grid-template-columns: 50% 50%;
        /* grid-template-areas: "card1 card2" "wide1 wide1" "card3 tall1" "card4 tall1" "card5 card5"; */
    }
}
@media (min-width: 1000px) {
    
    #main { 
        grid-template-columns: 33% 33% 33%;
        /* grid-template-areas: "card1 card2 tall1" "wide1 wide1 tall1" "card3 card4 card5"; */
    }
}

@media (min-width: 1200px) {
    
    #main { 
        grid-template-columns: 25% 25% 25% 25%;
        /* grid-template-areas: "card1 card2 tall1 card3" "wide1 wide1 tall1 card4" "card5 card5 tall1 card4"; */
    }
}
/* 
.item:nth-of-type(odd) {
    grid-area: card1;
}
.item:nth-of-type(even) {
    grid-area: card2;
} */