body {
    font-family: monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}
h1 {
    text-align: center;
    margin: 5px;
}

#main {
    margin: 10px auto;
    max-width: 1400px;
}
.group {
    border-bottom: 2px dashed;
}
.group > header {
    text-align: center;
}
.group:first-of-type {
    border-top: 2px dashed;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    overflow: hidden;
}

@media (min-width: 768px) and (pointer: fine) {
    body {
        font-size: 14px;
    }
    .grid { 
        grid-template-columns: 50% 50%;
    }
}
@media (min-width: 1000px) {
    body {
        font-size: 14px;
    }
    .grid { 
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 1200px) {
    
    .grid { 
        grid-template-columns: 25% 25% 25% 25%;
    }
}


footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #888;
}

.buttons {
    grid-auto-columns: 100%;
    padding: 15px;
    display: grid;
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="button"] {
    border: 2px dashed;
    background-color: white;
    outline: none;
    margin: 10px;
    height: 40px;
    font-family: monospace;
    font-size: 18px;
}
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"].active {
    background-color: #eee;
    cursor: pointer;
}

@media (min-width: 768px) {
    .buttons {
        grid-template-columns: 50% 50%;
    }
    input[type="button"] {
        font-size: 1em;
    }
}

#storeList {
    text-align: center;
}